
@{
    ViewBag.Title = "RegisterSuccess";
}


<div class="dark-bkr" style="color:white; text-align: center">
    <h1>Registration Successful</h1>

    <h3> Please check your e-mail for an account confirmation link.</h3>

    @Html.ActionLink("Return To Home Page", "Index", "Home")
</div>
